.gdbar img {
  width: 272px !important;
  height: 91px ;
  margin: 8px 8px;
}

.gdbar {
  width: 400px !important;
  height: 90px !important;
}

slides > slide:not(.nobackground):before {
  width: 136px;
  height: 46px;
  background-size: 150px 50px;
}